<!-- Spinner Start -->
<div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Header Start -->
<div class="container-fluid bg-dark p-0 mb-5" id="anchor-home">
    <div class="row g-0 flex-column-reverse flex-lg-row">
        <div class="col-lg-6 p-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="header-bg h-100 d-flex flex-column justify-content-center p-5">
                <h1 class="display-4 text-light mb-5">
                    Club de Badminton de Carrières sous Poissy
                </h1>
            </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="/assets/img/carousel-1.jpeg" alt="" />
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="/assets/img/carousel-2.jpeg" alt="" />
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="/assets/img/carousel-3.jpeg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Video Modal Start 
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content rounded-0">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">-->
<!-- 16:9 aspect ratio 
      <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
          allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</div>
</div>-->
<!-- Video Modal End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p><span class="text-primary me-2">#</span>Bienvenue au CBC78 </p>
                <h1 class="display-5 mb-4">
                    Pourquoi rejoindre le
                    <span class="text-primary">CBC78</span> !
                </h1>
                <p class="mb-4">
                    Si vous souhaitez rejoindre un club familial, chaleureux mais aimant la compétition,
                    n'hésitez plus !
                </p>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>16 heures de jeux par semaine
                </h5>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>Des entrainements adaptés à chacun
                </h5>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>Une bonne ambiance
                </h5>
                <h5 class="mb-3">
                    <i class="far fa-check-circle text-primary me-3"></i>De la compétition pour tous
                </h5>
                <!--<a class="btn btn-primary py-3 spx-5 mt-3" href="">Voir +</a>-->
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="img-border">
                    <img class="img-fluid" src="/assets/img/bg-3.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="container-xxl bg-primary facts my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-users fa-3x text-primary mb-3"></i>
                <h1 class="text-white mb-2" data-toggle="counter-up">97</h1>
                <p class="text-white mb-0">Licenciés</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-calendar fa-3x text-primary mb-3"></i>
                <h1 class="text-white mb-2" data-toggle="counter-up">16</h1>
                <p class="text-white mb-0">Heures de jeu par semaine</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-star fa-3x text-primary mb-3"></i>
                <h1 class="text-white mb-2" data-toggle="counter-up">2</h1>
                <p class="text-white mb-0">Etoiles</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <i class="fa fa fa-trophy fa-3x text-primary mb-3"></i>
                <h1 class="text-white mb-2" data-toggle="counter-up">2 </h1>
                <p class="text-white mb-0">Equipes</p>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Photos Start -->
<!--<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-5 align-items-end wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <p><span class="text-primary me-2">#</span>Photos</p>
                <h1 class="display-5 mb-0">
                    Voir le <span class="text-primary">CBC78</span> en images !
                </h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" [routerLink]="['/pictures']">Voir + de photos</a>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="animal-item" href="/assets/img/carousel-2.jpeg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="/assets/img/carousel-2.jpeg" alt="" />
                                <div class="animal-text p-4">
                                    <h5 class="text-white mb-0">Interclub</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="animal-item" href="/assets/img/carousel-1.jpeg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="/assets/img/carousel-1.jpeg" alt="" />
                                <div class="animal-text p-4">
                                    <h5 class="text-white mb-0">Interclub</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="animal-item" href="/assets/img/carousel-3.jpeg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="/assets/img/carousel-3.jpeg" alt="" />
                                <div class="animal-text p-4">
                                    <h5 class="text-white mb-0">Interclub</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="animal-item" href="/assets/img/carousel-3.jpeg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="/assets/img/carousel-3.jpeg" alt="" />
                                <div class="animal-text p-4">
                                    <h5 class="text-white mb-0">Interclub</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="animal-item" href="/assets/img/carousel-3.jpeg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="/assets/img/carousel-3.jpeg" alt="" />
                                <div class="animal-text p-4">
                                    <h5 class="text-white mb-0">Interclub</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="animal-item" href="/assets/img/carousel-3.jpeg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="/assets/img/carousel-3.jpeg" alt="" />
                                <div class="animal-text p-4">
                                    <h5 class="text-white mb-0">Interclub</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div class="d-flex flex-row justify-content-center">
    <div *ngFor="let image of _album; let i=index" class="col-4 " style="cursor:pointer">
        <img [src]="image.thumb" (click)="open(i)" class="img-fluid" style="padding:15px" />
    </div>
</div>
<!-- Photos End -->

<!-- Creneaux Hours Start -->
<div class="container-xxl bg-primary visiting-hours my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <h1 class="display-6 text-white mb-5">Créneaux Horaires</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Lundi</span>
                        <span>20h - 22H30</span>
                    </li>
                    <li class="list-group-item">
                        <span>Mardi</span>
                        <span>20H - 22H30</span>
                    </li>
                    <li class="list-group-item">
                        <span>Mercredi</span>
                        <span>18H00 - 22H30</span>
                    </li>
                    <li class="list-group-item">
                        <span>Jeudi</span>
                        <span>20H - 22H30</span>
                    </li>
                    <li class="list-group-item">
                        <span>Vendredi</span>
                        <span>😴</span>
                    </li>
                    <li class="list-group-item">
                        <span>Samedi</span>
                        <span>9H30 - 13H30</span>
                    </li>
                    <li class="list-group-item">
                        <span>Dimanche</span>
                        <span>😴</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-light wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-6 text-white mb-5">Gymnases & Contact</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Gymanse Alsace</td>
                            <td>17, Av Pierre de Coubertin, Carrières-Sous-Poissy</td>
                        </tr>
                        <tr>
                            <td>Gymanse Bretagne</td>
                            <td>765, Rue Pasteur, Carrières-Sous-Poissy</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>
                                <!--<p class="mb-2">0600000000</p>-->
                                <a href="mailto:clubcbc78@gmail.com" class="mb-0"
                                    style="color:white">clubcbc78@gmail.com</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Creneaux Hours End -->

<!-- Membership Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-5 align-items-end wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <p><span class="text-primary me-2">#</span>Adhérer</p>
                <h1 class="display-5 mb-0">
                    Devenez membre du
                    <span class="text-primary">CBC78</span>
                </h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Adhérer</a>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="membership-item position-relative">
                    <img class="img-fluid" src="../assets/img/bg-volant.jpg" alt="" />
                    <h1 class="display-1">JEUNE</h1>
                    <h4 class="text-white mb-3">-15ans</h4>
                    <h3 class="text-primary mb-4">100€</h3>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>29% de réduction
                    </p>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>Accès à un cours encadrés adaptés à votre
                        niveau
                    </p>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>Volants fournis
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="membership-item position-relative">
                    <img class="img-fluid" src="../assets/img/bg-volant.jpg" alt="" />
                    <h1 class="display-1">ADULTE</h1>
                    <h4 class="text-white mb-3">+15 ans</h4>
                    <h3 class="text-primary mb-4">140€</h3>
                    <p><i class="fa fa-check text-primary me-3"></i>Accès à tous les créneaux</p>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>Accès à un cours encadré adapté à votre
                        niveau
                    </p>
                    <p>
                        <i class="fa fa-check text-primary me-3"></i>Volants fournis
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Membership End -->

<!-- News Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            Nos actualités!
        </h1>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4" src="/assets/img/icon/logo.png"
                    style="width: 100px; height: 100px" />
                <div class="testimonial-text rounded text-center p-4">
                    <p>
                        Clita clita tempor justo dolor ipsum amet kasd amet duo justo
                        duo duo labore sed sed. Magna ut diam sit et amet stet eos sed
                        clita erat magna elitr erat sit sit erat at rebum justo sea
                        clita.
                    </p>
                    <!--<h5 class="mb-1">Patient Name</h5>-->
                    <span class="fst-italic">12/09/2022</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4" src="/assets/img/icon/logo.png"
                    style="width: 100px; height: 100px" />
                <div class="testimonial-text rounded text-center p-4">
                    <p>
                        Clita clita tempor justo dolor ipsum amet kasd amet duo justo
                        duo duo labore sed sed. Magna ut diam sit et amet stet eos sed
                        clita erat magna elitr erat sit sit erat at rebum justo sea
                        clita.
                    </p>
                    <span class="fst-italic">01/09/2022</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4" src="/assets/img/icon/logo.png"
                    style="width: 100px; height: 100px" />
                <div class="testimonial-text rounded text-center p-4">
                    <p>
                        Clita clita tempor justo dolor ipsum amet kasd amet duo justo
                        duo duo labore sed sed. Magna ut diam sit et amet stet eos sed
                        clita erat magna elitr erat sit sit erat at rebum justo sea
                        clita.
                    </p>
                    <span class="fst-italic">01/09/2022</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News End -->

<!-- Back to Top -->
<a href="#anchor-home" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>